# Declare files that will always have LF line endings on checkout.
*.html text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.less text eol=lf
*.scss text eol=lf
*.sass text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
